body {
   font-family:Roboto;
    background-color:#101833;
    color:#9DA5C0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Barriecito";
   text-align:center;
}
h1{
    font-size:40pt;
}

header {
    text-align:center;
}

#hero, footer {
    color:#7A8196;
    border: 5px solid #98ACEB;
    background-color: #1F2741;
    text-align:center;
    padding:10px;
}

/* Hero Section */

#hero img {
    width:300px;
}

/* Bio Section */

#bio {
    text-align:center;
}

/* Hoppies */

#hoppies ul li:nth-child(even){
color:#000;
}

/* Gallery */

#gallery {
    border: 2px solid #7A8196;
}

#gallery img {
    max-width: 100%;
}

#gallery figure{
    text-align: center;
}