body {
   font-family:Roboto;
    background-color:#101833;
    color:#9DA5C0;
}

h1, h2, h3, h4, h5, h6 {
    font-family:"Barriecito";
   text-align:center;
   font-size: 40pt;
}
h2{
    margin: .1em;
}

header {
    text-align:center;
}

#hero, footer {
    color:#7A8196;
    border: 5px solid #98ACEB;
    background-color: #1F2741;
    text-align:center;
    padding:10px;
}

/* Hero Section */

#hero img {
    width:300px;
}

/* Bio Section */

#bio {
    text-align:center;
}

/* Hoppies */

#hoppies ul li:nth-child(even){
display: flex; 
flex-direction: column; 
align-items: center;
}

/* Gallery */

#gallery {
    border: 2px solid #7A8196;
    margin-bottom:2rem;
}


#gallery img {
    max-width: 100%;
}

#gallery figure{
    text-align: center;
}

/* Literature */ 
#Lit {
    border: 2px solid #7A8196;
    margin-bottom:2rem;
}

#Lit div {
    padding:2rem;
    max-width: 40rem;
    margin: 0 auto;
}

#Lit div p {
    padding: 0.3rem 0;
    clear: both;
}

/* Dropcamps */

#Lit div p:first-child:first-letter {
color:aquamarine;
background-image: radial-gradient(#fff, #a3721c);
float:left;
font-size:3em;
padding:.25em;
margin-right:0.25em;
line-height:0.65;
border:4px outset honeydew;
font-family:"Barriecito";
text-shadow:2px 2px 3px rgba(0,0,0,5);
box-shadow:5px 5px 5px rgba(0,0,0,5);
border-top-left-radius: .2em;
border-bottom-right-radius: .2em;
}

/*tablet size*/
@media screen and (min-width: 60em) {  
    #gallery {
        display: grid;
        grid-template-columns: 2fr 1fr;
        flex-direction: column;
        gap: 2rem;
        padding: 2rem;
        
    }

     #gallery h2 {
        margin-bottom: 1.5rem;
    }

    #gallery figure {
        display: grid;
        grid-template-columns: 2fr 1fr;
        gap: 1rem;
    }

    #gallery figcaption {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-left: 1rem;
    }

    #gallery img {
    width: 100%;
    height: auto;
    }

    #lit div {
    max-width: 100%;
    columns: 40rems;
    }
    }

/* large screen size */

@media screen and (min-width: 100em) {
    #gallery {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr; 
    }
    #gallery h2 {
        grid-column: 1/-1;
        text-align: center; 
    }
    #gallery figure {
        display: block; 
    }
    hr {
        display: none; 
    }
    #gallery img {
        width: auto;
        max-width: 100%;
        height:auto;
    }
}
    
